extends ./../layouts/default
include ./../../src/scene/mixins

block variables
  - var pageTitle = "Страница не найдена"

block main
  +scene
    .grid
      .grid__item
        h1 Страница не найдена
        p Неправильно набран адрес или такой страницы на сайте больше не существует
        p #[a(href="index.html") Перейти на главную]
