extends ./../layouts/default

block variables
  - var title = "Страница не найдена"

block content
  section.scene
    .grid
      .grid__item
        h1 Страница не найдена
        p Неправильно набран адрес или такой страницы на сайте больше не существует
        p #[a(href="index.html") Перейти на главную]
