extends ./../layouts/default
include ./../../src/carousel/mixins

block variables
  - var title = "carousel"
  -
    var carousel = {
      grid: "meskit",
      pagination: "brand"
    }

block main
  section.scene(style="overflow: hidden;")
    .grid
      .grid__item
        +carousel(carousel)
          .carousel__item.swiper-slide
            div(style="background-color: #fe9891; height: 100px;")

          .carousel__item.swiper-slide
            div(style="background-color: #fed891; height: 100px;")

          .carousel__item.swiper-slide
            div(style="background-color: #8ed891; height: 100px;")

          .carousel__item.swiper-slide
            div(style="background-color: #fe9891; height: 100px;")

          .carousel__item.swiper-slide
            div(style="background-color: #fed891; height: 100px;")

          .carousel__item.swiper-slide
            div(style="background-color: #8ed891; height: 100px;")
