extends ./../layouts/default
include ./../../src/scene/mixins
include ./../../src/carousel/mixins

block variables
  - var pageTitle = "carousel"
  -
    var carousel1 = {
      grid: true,
      pagination: "bullets"
    }
  -
    var carousel2 = {
      grid: "jordan",
      pagination: "bullets"
    }
  -
    var carousel3 = {
      grid: "meskit",
      pagination: "bullets"
    }
  -
    var carousel4 = {
      grid: "amara",
      pagination: "bullets"
    }
  -
    var carousel5 = {
      pagination: "bullets",
      isPaginationInside: true
    }
  -
    var carousel6 = {
      pagination: "bullets",
      isPaginationInside: true
    }

block main
  +scene(style="overflow: hidden;")
    .grid
      .grid__item
        +carousel(carousel1)(style="overflow: visible;")
          .carousel__item.swiper-slide
            div(style="background-color: #fe9891; height: 300px;")

          .carousel__item.swiper-slide
            div(style="background-color: #fed891; height: 300px;")

          .carousel__item.swiper-slide
            div(style="background-color: #8ed891; height: 300px;")

          .carousel__item.swiper-slide
            div(style="background-color: #fe9891; height: 300px;")

          .carousel__item.swiper-slide
            div(style="background-color: #fed891; height: 300px;")

          .carousel__item.swiper-slide
            div(style="background-color: #8ed891; height: 300px;")

  +scene(style="overflow: hidden;")
    .grid
      .grid__item
        +carousel(carousel2)(style="overflow: visible;")
          .carousel__item.swiper-slide
            div(style="background-color: #fe9891; height: 300px;")

          .carousel__item.swiper-slide
            div(style="background-color: #fed891; height: 300px;")

          .carousel__item.swiper-slide
            div(style="background-color: #8ed891; height: 300px;")

          .carousel__item.swiper-slide
            div(style="background-color: #fe9891; height: 300px;")

          .carousel__item.swiper-slide
            div(style="background-color: #fed891; height: 300px;")

          .carousel__item.swiper-slide
            div(style="background-color: #8ed891; height: 300px;")

  +scene(style="overflow: hidden;")
    .grid
      .grid__item
        +carousel(carousel3)(style="overflow: visible;")
          .carousel__item.swiper-slide
            div(style="background-color: #fe9891; height: 300px;")

          .carousel__item.swiper-slide
            div(style="background-color: #fed891; height: 300px;")

          .carousel__item.swiper-slide
            div(style="background-color: #8ed891; height: 300px;")

          .carousel__item.swiper-slide
            div(style="background-color: #fe9891; height: 300px;")

          .carousel__item.swiper-slide
            div(style="background-color: #fed891; height: 300px;")

          .carousel__item.swiper-slide
            div(style="background-color: #8ed891; height: 300px;")

  +scene(style="overflow: hidden;")
    .grid
      .grid__item
        +carousel(carousel4)(style="overflow: visible;")
          .carousel__item.swiper-slide
            div(style="background-color: #fe9891; height: 300px;")

          .carousel__item.swiper-slide
            div(style="background-color: #fed891; height: 300px;")

          .carousel__item.swiper-slide
            div(style="background-color: #8ed891; height: 300px;")

          .carousel__item.swiper-slide
            div(style="background-color: #fe9891; height: 300px;")

          .carousel__item.swiper-slide
            div(style="background-color: #fed891; height: 300px;")

          .carousel__item.swiper-slide
            div(style="background-color: #8ed891; height: 300px;")

  section
    +carousel(carousel5)
      .carousel__item.swiper-slide
        div(style="background-color: #fe9891; height: 300px;")

      .carousel__item.swiper-slide
        div(style="background-color: #fed891; height: 300px;")

      .carousel__item.swiper-slide
        div(style="background-color: #8ed891; height: 300px;")

      .carousel__item.swiper-slide
        div(style="background-color: #fe9891; height: 300px;")

      .carousel__item.swiper-slide
        div(style="background-color: #fed891; height: 300px;")

      .carousel__item.swiper-slide
        div(style="background-color: #8ed891; height: 300px;")

  +scene(style="overflow: hidden;")
    .grid.grid--amara
      .grid__item
        +carousel(carousel6)
          .carousel__item.swiper-slide
            div(style="background-color: #fe9891; height: 300px;")

          .carousel__item.swiper-slide
            div(style="background-color: #fed891; height: 300px;")

          .carousel__item.swiper-slide
            div(style="background-color: #8ed891; height: 300px;")

          .carousel__item.swiper-slide
            div(style="background-color: #fe9891; height: 300px;")

          .carousel__item.swiper-slide
            div(style="background-color: #fed891; height: 300px;")

          .carousel__item.swiper-slide
            div(style="background-color: #8ed891; height: 300px;")
