extends ./../layouts/default
include ./../../src/scene/mixins

block variables
  - var pageTitle = "grid"

block main
  +scene
    .grid
      .grid__item
        div(style="background-color: #fed891; height: 100px;")

  +scene
    .grid.grid--sidar
      .grid__item
        div(style="background-color: #fed891; height: 100px;")

  +scene
    .grid.grid--navahopi
      .grid__item
          div(style="background-color: #fed891; height: 100px;")

  +scene
    .grid.grid--jordan
      .grid__item
          div(style="background-color: #fed891; height: 100px;")

      .grid__item
          div(style="background-color: #fed891; height: 100px;")

  +scene
    .grid.grid--meskit
      .grid__item
          div(style="background-color: #fed891; height: 100px;")

      .grid__item
          div(style="background-color: #fed891; height: 100px;")

      .grid__item
          div(style="background-color: #fed891; height: 100px;")

  +scene
    .grid.grid--amara
      .grid__item
          div(style="background-color: #fed891; height: 100px;")

      .grid__item
          div(style="background-color: #fed891; height: 100px;")

      .grid__item
          div(style="background-color: #fed891; height: 100px;")

      .grid__item
          div(style="background-color: #fed891; height: 100px;")

  +scene
    .grid.grid--orchard
      .grid__item
          div(style="background-color: #fed891; height: 100px;")

      .grid__item
          div(style="background-color: #fed891; height: 100px;")

  +scene
    .grid.grid--ridge
      .grid__item
          div(style="background-color: #fed891; height: 100px;")

      .grid__item
          div(style="background-color: #fed891; height: 100px;")
