extends ./../layouts/default

block variables
  - var pageTitle = "grid"

block main
  section.scene
    .grid
      .grid__item
        div(style="background-color: #fed891; height: 100px;")

  section.scene
    .grid.grid--sidar
      .grid__item
        div(style="background-color: #fed891; height: 100px;")

  section.scene
    .grid.grid--navahopi
      .grid__item
          div(style="background-color: #fed891; height: 100px;")

  section.scene
    .grid.grid--jordan
      .grid__item
          div(style="background-color: #fed891; height: 100px;")

      .grid__item
          div(style="background-color: #fed891; height: 100px;")

  section.scene
    .grid.grid--meskit
      .grid__item
          div(style="background-color: #fed891; height: 100px;")

      .grid__item
          div(style="background-color: #fed891; height: 100px;")

      .grid__item
          div(style="background-color: #fed891; height: 100px;")

  section.scene
    .grid.grid--amara
      .grid__item
          div(style="background-color: #fed891; height: 100px;")

      .grid__item
          div(style="background-color: #fed891; height: 100px;")

      .grid__item
          div(style="background-color: #fed891; height: 100px;")

      .grid__item
          div(style="background-color: #fed891; height: 100px;")

  section.scene
    .grid.grid--orchard
      .grid__item
          div(style="background-color: #fed891; height: 100px;")

      .grid__item
          div(style="background-color: #fed891; height: 100px;")

  section.scene
    .grid.grid--ridge
      .grid__item
          div(style="background-color: #fed891; height: 100px;")

      .grid__item
          div(style="background-color: #fed891; height: 100px;")
