extends ./../layouts/default

block main
  section.scene
    .grid
      .grid__item
        ul
          li
            | common
          li
            | base
          li
            a(href="header.html") header
          li
            | scene
          li
            a(href="grid.html") grid

      .grid__item
        ul
          li
            a(href="button.html") button
          li
            a(href="carousel.html") carousel
          li
            a(href="marginalia.html") marginalia
          li
            a(href="person.html") person
          li
            a(href="price.html") price
          li
            a(href="product.html") product
          li
            a(href="quote.html") quote
          li
            a(href="ribbon.html") ribbon
          li
            a(href="testimonial.html") testimonial
