extends ./../layouts/default

block main
  section.scene
    .grid
      .grid__item
        ul
          li
            | common
          li
            | base
          li
            | scene
          li
            a(href="grid.html") grid
          li
            a(href="button.html") button
          li
            a(href="person.html") person
          li
            a(href="price.html") price
          li
            a(href="quote.html") quote
