extends ./../layouts/default

block content
  section.scene
    .grid
      .grid__item
        ul
          li
            a(href="button.html") Кнопки
          li
            a(href="person.html") Личности
          li
            a(href="price.html") Цены
          li
            a(href="quote.html") Цитаты
