extends ./../layouts/default
include ./../../src/scene/mixins

block variables
  - var pageTitle = "marginalia"

block main
  +scene
    .grid.grid--sidar
      .grid__item
        h3 Международная политика

        div(style="position: relative;")
          p Политическая социализация, короче говоря, означает конструктивный субъект власти. Институциализация неоднозначна. Мажоритарная избирательная система неизбежна. Механизм власти практически отражает референдум.

          .marginalia
            p В данном случае можно согласиться с Данилевским, считавшим, что либеральная теория представляет собой эмпирический гуманизм, что получило отражение в трудах Михельса.

        p Исходя из данного утверждения, культ личности верифицирует прагматический политический процесс в современной России. Субъект власти интегрирует плюралистический авторитаризм. Как уже отмечалось, глобализация означает коммунизм.
