extends ./../layouts/default
include ./../../src/person/mixins

block variables
  - var pageTitle = "person"

block main
  section.scene
    .grid(style="--common-element-width: auto; align-items: center;")
      .grid__item
        +person({
          avatar: {
            src: "https://images.unsplash.com/photo-1586297098710-0382a496c814?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80",
            size: 44
          }
        })

      .grid__item
        +person({
          avatar: {
            src: "https://images.unsplash.com/photo-1586297098710-0382a496c814?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80",
            size: 80
          }
        })

      .grid__item
        +person({
          name: "Артем Фомичев",
          note: "Тревел-блоггер, фотограф"
        })

      .grid__item
        +person({
          avatar: {
            src: "https://images.unsplash.com/photo-1586297098710-0382a496c814?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80",
            size: 44
          },
          name: "Артем Фомичев",
          note: "Тревел-блоггер, фотограф"
        })

      .grid__item
        +person({
          isGravity: true,
          avatar: {
            src: "https://images.unsplash.com/photo-1586297098710-0382a496c814?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80",
            size: 80
          },
          name: "Артем Фомичев",
          note: "Тревел-блоггер, фотограф"
        })

  section.scene.inverse
    .grid(style="--common-element-width: auto; align-items: center;")
      .grid__item
        +person({
          avatar: {
            src: "https://images.unsplash.com/photo-1586297098710-0382a496c814?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80",
            size: 44
          }
        })

      .grid__item
        +person({
          avatar: {
            src: "https://images.unsplash.com/photo-1586297098710-0382a496c814?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80",
            size: 80
          }
        })

      .grid__item
        +person({
          name: "Артем Фомичев",
          note: "Тревел-блоггер, фотограф"
        })

      .grid__item
        +person({
          avatar: {
            src: "https://images.unsplash.com/photo-1586297098710-0382a496c814?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80",
            size: 44
          },
          name: "Артем Фомичев",
          note: "Тревел-блоггер, фотограф"
        })

      .grid__item
        +person({
          isGravity: true,
          avatar: {
            src: "https://images.unsplash.com/photo-1586297098710-0382a496c814?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80",
            size: 80
          },
          name: "Артем Фомичев",
          note: "Тревел-блоггер, фотограф"
        })
