extends ./../layouts/default

block variables
  - var title = "Ценники"

mixin price
  .price
    .price__before
      | от

    .price__value
      | 1&thinsp;800&thinsp;000

    .price__currency
      | ₽

    .price__after
      | за штуку

block content
  section.scene
    .grid
      .grid__item
        +price

  section.scene.inverse
    .grid
      .grid__item
        +price
