extends ./../layouts/default
include ./../../src/price/mixins

block variables
  - var title = "Ценники"

block content
  section.scene
    .grid(style="--common-element-width: auto; align-items: baseline;")
      .grid__item
        +price({
          value: 1800000,
          currency: "₽"
        })

      .grid__item
        +price({
          before: "от",
          value: 1800000,
          currency: "₽",
          after: "за штуку"
        })

      .grid__item
        +price({
          isOld: true,
          value: 2400000,
          currency: "₽"
        })

  section.scene.inverse
    .grid(style="--common-element-width: auto; align-items: baseline;")
      .grid__item
        +price({
          value: 1800000,
          currency: "₽"
        })

      .grid__item
        +price({
          before: "от",
          value: 1800000,
          currency: "₽",
          after: "за штуку"
        })

      .grid__item
        +price({
          isOld: true,
          value: 2400000,
          currency: "₽"
        })
