extends ./../layouts/default
include ./../../src/product/mixins

block variables
  - var title = "product"

block main
  section.scene.scene--light
    .grid.grid--amara
      .grid__item
        +product
