extends ./../layouts/default
include ./../../src/scene/mixins
include ./../../src/product/mixins

block variables
  - var pageTitle = "product"

block main
  +scene.scene--light
    .grid.grid--amara
      .grid__item
        +product
