extends ./../layouts/default
include ./../../src/quote/mixins

block variables
  - var pageTitle = "quote"

block main
  section.scene
    .grid.grid--navahopi(style="justify-content: center;")
      .grid__item
        +quote({
          content: "Моя бизнес-модель — группа Битлз. Четыре парня контролировали негативные проявления друг друга. Они уравновешивали друг друга, и общий итог оказался больше суммы отдельных частей. Вот как я смотрю на бизнес: крупные дела не делаются одним человеком, они совершаются командой",
          person: {
            avatar: {
              src: "http://loveopium.ru/content/2011/10/1f3cd85a791d_937E/930.jpg",
              size: 44
            },
            name: "Стив Джобс",
            note: "Сооснователь и CEO компаний Apple, NeXT и Pixar"
          }
        })

  section.scene
    .grid.grid--navahopi(style="justify-content: center;")
      .grid__item
        +quote({
          lang: "en",
          content: "My model for business is The Beatles. They were four guys who kept each other’s kind of negative tendencies in check. They balanced each other and the total was greater than the sum of the parts. That’s how I see business: great things in business are never done by one person, they’re done by a team of people",
          person: {
            avatar: {
              src: "http://loveopium.ru/content/2011/10/1f3cd85a791d_937E/930.jpg",
              size: 44
            },
            name: "Steve Jobs",
            note: "Co-founder, Chairman, and CEO of Apple Inc."
          }
        })

  section.scene.inverse
    .grid.grid--navahopi(style="justify-content: center;")
      .grid__item
        +quote({
          content: "Моя бизнес-модель — группа Битлз. Четыре парня контролировали негативные проявления друг друга. Они уравновешивали друг друга, и общий итог оказался больше суммы отдельных частей. Вот как я смотрю на бизнес: крупные дела не делаются одним человеком, они совершаются командой",
          person: {
            avatar: {
              src: "http://loveopium.ru/content/2011/10/1f3cd85a791d_937E/930.jpg",
              size: 44
            },
            name: "Стив Джобс",
            note: "Сооснователь и CEO компаний Apple, NeXT и Pixar"
          }
        })

  section.scene.inverse(style="padding-top: 0;")
    .grid.grid--navahopi(style="justify-content: center;")
      .grid__item
        +quote({
          lang: "en",
          content: "My model for business is The Beatles. They were four guys who kept each other’s kind of negative tendencies in check. They balanced each other and the total was greater than the sum of the parts. That’s how I see business: great things in business are never done by one person, they’re done by a team of people",
          person: {
            avatar: {
              src: "http://loveopium.ru/content/2011/10/1f3cd85a791d_937E/930.jpg",
              size: 44
            },
            name: "Steve Jobs",
            note: "Co-founder, Chairman, and CEO of Apple Inc."
          }
        })
