extends ./../layouts/default
include ./../../src/scene/mixins
include ./../../src/ribbon/mixins

block variables
  - var pageTitle = "ribbon"

block main
  +scene
    .grid.grid--meskit
      .grid__item
        div(style="background-color: #CFD8DC; height: 200px; position: relative; border-radius: 8px;")
          +ribbon

      .grid__item
        div.inverse(style="background-color: #263238; height: 200px; position: relative; border-radius: 8px;")
          +ribbon
