@import "./variables";

.wysiwyg {
	overflow-wrap: break-word;

	h1 {
		#text-sizes.h1();
		#grid.gap(element; margin-top);
		margin-bottom: @indent * 1.25;
		font-family: @font-family-secondary;
	}

	h2 {
		#text-sizes.h2();
		#grid.gap(element; margin-top);
		margin-bottom: @indent * 1.25;
		font-family: @font-family-secondary;
	}

	h3 {
		#text-sizes.h3();
		margin-top: @indent * 2;
		margin-bottom: @indent;
		font-family: @font-family-secondary;

		h1 + &,
		h2 + & {
			margin-top: @indent;
		}
	}

	a {
		#element.link();
	}

	button,
	[role="button"] {
		#element.button();
	}

	ul,
	ol {
		margin-top: 0;
		margin-bottom: 1em;
		padding-left: 1.5em;
		list-style-type: none;

		p + & {
			margin-top: -0.5em;
		}

		ul,
		ol {
			margin-top: 0.5em;
			margin-bottom: 0;
		}

		& > li {
			margin-bottom: 0.5em;

			&:last-child {
				margin-bottom: 0;
			}

			&::before {
				content: "\2014";
				position: absolute;
				margin-left: -1.5em;
				opacity: 0.2;
			}
		}
	}

	ol {
		counter-reset: code;

		& > li::before {
			content: counters(code, ".") ". ";
			position: static;
			display: inline-block;
			min-width: 1.5em;
			opacity: 0.4;
			counter-increment: code;
		}
	}

	p {
		margin-top: 0;
		margin-bottom: 1em;
	}

	table {
		word-break: normal;
	}

	& > *:first-child {
		margin-top: 0;
	}

	& > *:last-child {
		margin-bottom: 0;
	}
}
