// Settings
//------------------------------------------------------------------------------

// Base

@social-gutter: (@indent / 2);

// Item

@social-item-width: @line-height;
@social-item-height: @social-item-width;

@social-item-color: @light-primary;

@social-item-background-color: transparent;
@social-item-background-image: none;
@social-item-background-repeat: repeat;
@social-item-background-position: 0 0;
@social-item-background-size: auto auto;

@social-item-border-radius: 50%;

@social-item-hover-color: @social-item-color;
@social-item-hover-background-color: @social-item-background-color;

// Icon

@social-icon-width: 18px;
@social-icon-height: @social-icon-width;

// Darken item

@social-darken-item-color: @light-primary;

@social-darken-item-background-color: @dark-primary;
@social-darken-item-background-image: none;
@social-darken-item-background-repeat: repeat;
@social-darken-item-background-position: 0 0;
@social-darken-item-background-size: auto auto;

@social-darken-item-hover-color: @social-darken-item-color;
@social-darken-item-hover-background-color: lighten(@social-darken-item-background-color, 10%);

// Lighten item

@social-lighten-item-color: @dark-primary;

@social-lighten-item-background-color: @light-primary;
@social-lighten-item-background-image: none;
@social-lighten-item-background-repeat: repeat;
@social-lighten-item-background-position: 0 0;
@social-lighten-item-background-size: auto auto;

@social-lighten-item-hover-color: @social-lighten-item-color;
@social-lighten-item-hover-background-color: darken(@social-lighten-item-background-color, 20%);


// Social
//------------------------------------------------------------------------------

.social {
	display: inline-flex;
	flex-wrap: wrap;
	margin-right: -@social-gutter;
	margin-bottom: -@social-gutter;
	padding-left: 0;
	list-style-type: none;

	li {
		margin-right: @social-gutter;
		margin-bottom: @social-gutter;
	}

	a {
		color: @social-item-color;
		fill: @social-item-color;
		display: flex;
		align-items: center;
		justify-content: center;
		width: @social-item-width;
		height: @social-item-height;
		overflow: hidden;
		border-width: 0;
		border-radius: @social-item-border-radius;
		transition: @duration @timing-function;
		transition-property: color, fill, background-color;

		body:not(.mobile) &:hover {
			color: @social-item-hover-color;
			fill: @social-item-hover-color;
		}
	}

	&--darken {
		a {
			color: @social-darken-item-color;
			fill: @social-darken-item-color;

			body:not(.mobile) &:hover {
				color: @social-darken-item-hover-color;
				fill: @social-darken-item-hover-color;
			}
		}
	}

	&--lighten {
		a {
			color: @social-lighten-item-color;
			fill: @social-lighten-item-color;

			body:not(.mobile) &:hover {
				color: @social-lighten-item-hover-color;
				fill: @social-lighten-item-hover-color;
			}
		}
	}

	svg {
		display: block;
		width: @social-icon-width;
		height: @social-icon-height;
	}
}

.social__vk,
.social__fb,
.social__ig,
.social__tg,
.social__yt,
.social__tw,
.social__ok,
.social__vb,
.social__wa,
.social__sk {
	background-color: @social-item-background-color;
	background-image: @social-item-background-image;
	background-repeat: @social-item-background-repeat;
	background-position: @social-item-background-position;
	background-size: @social-item-background-size;

	body:not(.mobile) &:hover {
		background-color: @social-item-hover-background-color;
	}

	.social--darken & {
		background-color: @social-darken-item-background-color;
		background-image: @social-darken-item-background-image;
		background-repeat: @social-darken-item-background-repeat;
		background-position: @social-darken-item-background-position;
		background-size: @social-darken-item-background-size;

		body:not(.mobile) &:hover {
			background-color: @social-darken-item-hover-background-color;
		}
	}

	.social--lighten & {
		background-color: @social-lighten-item-background-color;
		background-image: @social-darken-item-background-image;
		background-repeat: @social-darken-item-background-repeat;
		background-position: @social-darken-item-background-position;
		background-size: @social-darken-item-background-size;

		body:not(.mobile) &:hover {
			background-color: @social-lighten-item-hover-background-color;
		}
	}
}

.social__vk {
	@color: #597da3;

	background-color: @color;

	body:not(.mobile) &:hover {
		background-color: darken(@color, 15%);
	}
}

.social__fb {
	@color: #3b5998;

	background-color: @color;

	body:not(.mobile) &:hover {
		background-color: darken(@color, 15%);
	}
}

.social__ig {
	@color: #ED4A55;

	background-color: @color;

	body:not(.mobile) &:hover {
		background-color: darken(@color, 15%);
	}
}

.social__tg {
	@color: #2e87ca;

	background-color: @color;

	body:not(.mobile) &:hover {
		background-color: darken(@color, 15%);
	}
}

.social__yt {
	@color: #e62117;

	background-color: @color;

	body:not(.mobile) &:hover {
		background-color: darken(@color, 15%);
	}
}

.social__tw {
	@color: #1da1f3;

	background-color: @color;

	body:not(.mobile) &:hover {
		background-color: darken(@color, 15%);
	}
}

.social__ok {
	@color: #f58220;

	background-color: @color;

	body:not(.mobile) &:hover {
		background-color: darken(@color, 15%);
	}
}

.social__vb {
	@color: #665cac;

	background-color: @color;

	body:not(.mobile) &:hover {
		background-color: darken(@color, 15%);
	}
}

.social__wa {
	@color: #00e676;

	background-color: @color;

	body:not(.mobile) &:hover {
		background-color: darken(@color, 15%);
	}
}

.social__sk {
	@color: #00aff0;

	background-color: #00aff0;

	body:not(.mobile) &:hover {
		background-color: darken(@color, 15%);
	}
}
