@import "./variables";
@import "./../global/mixins";

.social {
	display: inline-flex;
	flex-wrap: wrap;
	margin-right: -@social-gutter;
	margin-bottom: -@social-gutter;
	padding-left: 0;
	list-style-type: none;

	li {
		margin-right: @social-gutter;
		margin-bottom: @social-gutter;
	}

	a {
		@color: contrast(@base-primary, @dark-primary, @light-primary);

		color: @color;
		display: flex;
		align-items: center;
		justify-content: center;
		width: @social-item-width;
		height: @social-item-height;
		overflow: hidden;
		border-width: 0;
		border-radius: @social-item-border-radius;
		transition: @duration @timing-function;
		transition-property: color, fill, background-color;

		body:not(.mobile) &:hover {
			color: #state.hover(@color)[@result];
		}
	}

	&--contrast {
		a {
			color: @base-primary;

			body:not(.mobile) &:hover {
				color: #state.hover(@base-primary)[@result];
			}
		}
	}

	&--branded {
		a {
			color: @light-primary;
		}
	}

	svg {
		display: block;
		width: @social-icon-width;
		height: @social-icon-height;
	}
}

.social__vk,
.social__fb,
.social__ig,
.social__tg,
.social__yt,
.social__tw,
.social__ok,
.social__vb,
.social__wa,
.social__sk {
	background-color: @base-primary;

	body:not(.mobile) &:hover {
		background-color: #state.hover(@base-primary)[@result];
	}

	.social--contrast & {
		@color: contrast(@base-primary, @dark-primary, @light-primary);

		background-color: @color;

		body:not(.mobile) &:hover {
			background-color: #state.hover(@color)[@result];
		}
	}
}

.social--branded .social__vk {
	@color: #597da3;

	background-color: @color;

	body:not(.mobile) &:hover {
		background-color: #state.hover(@color)[@result];
	}
}

.social--branded .social__fb {
	@color: #3b5998;

	background-color: @color;

	body:not(.mobile) &:hover {
		background-color: #state.hover(@color)[@result];
	}
}

.social--branded .social__ig {
	@color: #ED4A55;

	background-color: @color;

	body:not(.mobile) &:hover {
		background-color: #state.hover(@color)[@result];
	}
}

.social--branded .social__tg {
	@color: #2e87ca;

	background-color: @color;

	body:not(.mobile) &:hover {
		background-color: #state.hover(@color)[@result];
	}
}

.social--branded .social__yt {
	@color: #e62117;

	background-color: @color;

	body:not(.mobile) &:hover {
		background-color: #state.hover(@color)[@result];
	}
}

.social--branded .social__tw {
	@color: #1da1f3;

	background-color: @color;

	body:not(.mobile) &:hover {
		background-color: #state.hover(@color)[@result];
	}
}

.social--branded .social__ok {
	@color: #f58220;

	background-color: @color;

	body:not(.mobile) &:hover {
		background-color: #state.hover(@color)[@result];
	}
}

.social--branded .social__vb {
	@color: #665cac;

	background-color: @color;

	body:not(.mobile) &:hover {
		background-color: #state.hover(@color)[@result];
	}
}

.social--branded .social__wa {
	@color: #00e676;

	background-color: @color;

	body:not(.mobile) &:hover {
		background-color: #state.hover(@color)[@result];
	}
}

.social--branded .social__sk {
	@color: #00aff0;

	background-color: #00aff0;

	body:not(.mobile) &:hover {
		background-color: #state.hover(@color)[@result];
	}
}
