@import "./../global/variables";

@social-gutter: (@indent / 2);

@social-item-width: @line-height;
@social-item-height: @social-item-width;
@social-item-border-radius: 50%;

@social-icon-width: 18px;
@social-icon-height: @social-icon-width;
