@import "./../global/variables";

// Base

@card-padding: @indent;

@card-background-color: transparent;
@card-background-image: none;
@card-background-repeat: repeat;
@card-background-position: 0 0;
@card-background-size: auto auto;

@card-border-width: 1px;
@card-border-color: @base-divider;
@card-border-radius: @radius;

@card-frame-opacity: 0.2;

@card-media-ratio: 56.25%;

// Darken

@card-darken-background-color: @dark-primary;
@card-darken-background-image: none;
@card-darken-background-repeat: repeat;
@card-darken-background-position: 0 0;
@card-darken-background-size: auto auto;

@card-darken-border-color: @light-divider;

@card-darken-frame-opacity: @card-frame-opacity;

// Lighten

@card-lighten-background-color: @light-primary;
@card-lighten-background-image: none;
@card-lighten-background-repeat: repeat;
@card-lighten-background-position: 0 0;
@card-lighten-background-size: auto auto;

@card-lighten-border-color: @dark-divider;

@card-lighten-frame-opacity: @card-frame-opacity;
