mixin header(data)
  header.header.scene
    .grid
      .grid__item
        .header__logo
          a(href="#") !{data.logo}

      .grid__item
        +nav(data.nav)

      .grid__item
        +extra(data.extra)

mixin nav(data)
  nav.header__nav
    ul.header__menu
      each item in data
        li.header__item
          a(href=item.href) !{item.name}

mixin extra(data)
  ul.header__extra
    each item in data
      li.header__item !{item}
