mixin header(data)
  header.header.scene&attributes(attributes)
    .grid
      .grid__item
        .header__logo
          a(href="#") !{data.logo}

      nav.grid__item
        +nav(data.nav)

      .grid__item
        +extra(data.extra)

mixin nav(data)
  ul.header__nav
    each item in data
      li.header__item
        a(href=item.href) !{item.name}

mixin extra(data)
  ul.header__nav
    each item in data
      li.header__item !{item}
