mixin header(data)
  header.header.scene
    .grid
      .grid__item
        .header__logo
          a(href="#") !{data.logo}

      nav.grid__item
        ul.header__nav
          each item in data.nav
            li.header__item
              a(href=item.href) !{item.name}

      .grid__item
        ul.header__nav
          each item in data.extra
            li.header__item !{item}
