@import "./../global/variables";

@header-height: (@line-height + @indent * 2);

@header-color: @base-primary;
@header-link-color: @link-primary;

@header-background-color: transparent;
@header-background-image: none;
@header-background-repeat: repeat;
@header-background-position: 0 0;
@header-background-size: auto auto;

@header-breakpoints: @grid-breakpoints-md;
@header-max-width: @grid-breakpoints-xl;
@header-gutter: @indent;
