@import "./../global/variables";

// Base

@header-padding-top-smaller: (@indent-element-smaller / 2);
@header-padding-top-larger: (@indent-element-larger / 2);
@header-padding-bottom-smaller: @header-padding-top-smaller;
@header-padding-bottom-larger: @header-padding-top-larger;

@header-font-size: inherit;
@header-line-height: inherit;
@header-font-family: inherit;

@header-color: inherit;
@header-link-color: inherit;

@header-background-color: transparent;
@header-background-image: none;
@header-background-repeat: repeat;
@header-background-position: 0 0;
@header-background-size: auto auto;

@header-box-shadow: none;

@header-breakpoints: @grid-breakpoints-md;
@header-max-width: @grid-breakpoints-xl;
@header-gutter: @indent;

// Scrollable

@header-scrollable-color: @header-color;
@header-scrollable-link-color: inherit;

@header-scrollable-background-color: @header-background-color;
@header-scrollable-background-image: @header-background-image;
@header-scrollable-background-repeat: @header-background-repeat;
@header-scrollable-background-position: @header-background-position;
@header-scrollable-background-size: @header-background-size;

@header-scrollable-box-shadow: none;

// Collapse mobile

@header-collapse-color: @header-color;
@header-collapse-link-color: inherit;

@header-collapse-background-color: @header-background-color;
@header-collapse-background-image: @header-background-image;
@header-collapse-background-repeat: @header-background-repeat;
@header-collapse-background-position: @header-background-position;
@header-collapse-background-size: @header-background-size;
