@import "./../global/variables";

// Base

@header-padding-top-smaller: (@gap / 2);
@header-padding-top-larger: (@gap-larger / 2);
@header-padding-bottom-smaller: @header-padding-top-smaller;
@header-padding-bottom-larger: @header-padding-top-larger;

// @header-font-size: inherit;
// @header-line-height: inherit;
// @header-font-family: inherit;

@header-color: inherit;
// @header-link-color: inherit;

@header-tone: transparent;

@header-box-shadow: none;

@header-breakpoints: @breakpoints-md;
@header-max-width: @breakpoints-xl;
@header-gutter: @indent;

// Scrollable

@header-scrollable-color: @header-color;
@header-scrollable-link-color: inherit;

@header-scrollable-background-color: @header-tone;

@header-scrollable-box-shadow: none;

// Collapse mobile

@header-collapse-color: @header-color;
@header-collapse-link-color: inherit;

@header-collapse-background-color: @header-tone;
