include ./../person/mixins

mixin quote(data)
  blockquote.quote&attributes(attributes)(
    lang=data.lang
    cite=data.cite)
    .quote__main !{data.content}

    if data.person
      footer.quote__person
        .quote__divider
        +person(data.person)
