.quote {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote__content {
  #common.text-decor();
  text-align: center;
  position: relative;
  z-index: 1;
}

.quote__hook {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 0;
  height: 0;
  position: relative;
  z-index: -1;
  vertical-align: middle;
  color: @common-icon-faint-strong;

  .inverse & {
    color: @common-icon-faint-weak;
  }

  &--en {
    [lang^="ru"] .quote:not([lang]) &,
    .quote[lang^="ru"] & {
      display: none;
    }
  }

  &--ru {
    [lang^="en"] .quote:not([lang]) &,
    .quote[lang^="en"] & {
      display: none;
    }
  }
}

.quote__before,
.quote__after {
  flex-shrink: 0;

  &--ru {
    width: 56px;
    height: 54px;

    @media (min-width: @common-breakpoint-md) {
      width: 110px;
      height: 106px;
    }
  }

  &--en {
    width: 58px;
    height: 44px;

    @media (min-width: @common-breakpoint-md) {
      width: 118px;
      height: 88px;
    }
  }
}

.quote__before {
  transform: translate3d(-30%, -40%, 0);

  @media (min-width: @common-breakpoint-md) {
    transform: translate3d(-25%, -5%, 0);
  }
}

.quote__after {
  transform: translate3d(30%, 40%, 0);

  @media (min-width: @common-breakpoint-md) {
    transform: translate3d(25%, 5%, 0);
  }
}

.quote__divider {
  width: 100px;
  height: 1px;
  background-color: @common-line-faint-strong;
  margin-bottom: 16px;

  .inverse & {
    background-color: @common-line-faint-weak;
  }
}

.quote__person {
  margin-top: 16px;
}
