@quote-color: inherit;
@quote-hook-color: fadeout(@common-text-base-strong, 85%, relative);

// Inverse

@quote-inverse-color: inherit;
@quote-inverse-hook-color: fadeout(@common-text-base-weak, 85%, relative);
