// General

@tone: @light-primary; // #fff
@radius: @font-size / 4; // 4px
@indent: @font-size; // 16px
@shadow: 0 -1px 1px fade(@base-primary, 2%), 0 1px 1px fade(@base-primary, 2%), 0 2px 2px fade(@base-primary, 2%), 0 4px 4px fade(@base-primary, 2%), 0 8px 8px fade(@base-primary, 2%), 0 16px 16px fade(@base-primary, 2%), 0 32px 32px fade(@base-primary, 2%);

// Font familys

@font-family-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "NotoColorEmoji", "Segoe UI Emoji", "Segoe UI Symbol";
@font-family-secondary: @font-family-primary;

// Text sizes

@font-size: 16px;
@line-height: @font-size * 1.75; // 28px

@font-size-small: @font-size * 0.75; // 12px
@line-height-small: @font-size * 1.25; // 20px

@font-size-big: @font-size * 1.25; // 20px
@line-height-big: @font-size * 2; // 32px

@font-size-h1: @font-size * 2; // 32px
@line-height-h1: @font-size * 2.5; // 40px

@font-size-h1-larger: @font-size * 2.25; // 36px
@line-height-h1-larger: @font-size * 2.75; // 44px

@font-size-h2: @font-size-h1; // 32px
@line-height-h2: @line-height-h1; // 40px

@font-size-h2-larger: @font-size-h1-larger; // 36px
@line-height-h2-larger: @line-height-h1-larger; // 44px

@font-size-h3: @font-size * 1.5; // 24px
@line-height-h3: @font-size * 2; // 32px

@font-size-h3-larger: @font-size-h3; // 24px
@line-height-h3-larger: @line-height-h3; // 32px

// Colors

@base-primary: contrast(@tone, @dark-primary, @light-primary);
@base-secondary: contrast(@tone, @dark-secondary, @light-secondary);
@base-hint: contrast(@tone, @dark-hint, @light-hint);
@base-divider: contrast(@tone, @dark-divider, @light-divider);

@dark-primary: lighten(#000, 12%); // #1f1f1f
@dark-secondary: lighten(#000, 54%); // #8a8a8a
@dark-hint: lighten(#000, 72%); // #b8b8b8
@dark-divider: lighten(#000, 88%); // #e0e0e0

@light-primary: #fff;
@light-secondary: darken(#fff, 30%); // #b3b3b3
@light-hint: darken(#fff, 50%); // #808080
@light-divider: darken(#fff, 72%); // #474747

@link-primary: #007aff;

@button-primary: @link-primary; // #007aff

@alert-success: #4cd964;
@alert-warning: #fc0;
@alert-danger: #ff3b30;

// Grid

@breakpoints-sm: 576px; // Phone
@breakpoints-md: 768px; // Tablet
@breakpoints-lg: 992px; // Notebook
@breakpoints-xl: 1200px; // Desktop

@gap: @indent * 2; // 32px
@gap-larger: @gap * 1.5; // 48px

// Animation

@duration: 0.2s;
@timing-function: ease-out;

// Links

@link-border-fade: 30%;

@link-hover-border-fade: @link-border-fade; // 30%
