#card() {
  .this() {
    --card-radius: var(--box-radius-primary);
    --card-padding: var(--indent-double);
    --card-media-ratio: 66.66%;

    display: flex;
    flex-direction: column;
    min-height: 100%;
    border-radius: var(--card-radius);
    box-shadow: inset 0 0 0 1px if(luma(@color-tone-base) < 43%, @color-tone-dark, @color-tone-light);
    padding: var(--card-padding);

    &--dark {
      #common.box-dark();
      box-shadow: none;
    }

    &--light {
      #common.box-light();
      box-shadow: none;
    }
  }

  .accent() {
    margin-top: ~"calc(var(--card-padding) * -1)";
    margin-right: ~"calc(var(--card-padding) * -1)";
    margin-bottom: var(--indent-base);
    margin-left: ~"calc(var(--card-padding) * -1)";
  }

  .media() {
    position: relative;
    padding-bottom: var(--card-media-ratio);

    img,
    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: var(--card-radius) var(--card-radius) 0 0;
    }
  }

  .content() {
    & + & {
      margin-top: var(--indent-base);
    }
  }
}
