.grid {
  #common.element-base();

  &--sidar {
    @media (min-width: @common-breakpoint-lg) {
      --common-elementItem-width: span 9;
    }

    @media (min-width: @common-breakpoint-xl) {
      --common-elementItem-width: span 8;
    }
  }

  &--navahopi {
    @media (min-width: @common-breakpoint-lg) {
      --common-elementItem-width: span 9;
    }

    @media (min-width: @common-breakpoint-xl) {
      --common-elementItem-width: span 10;
    }
  }

  &--jordan {
    @media (min-width: @common-breakpoint-lg) {
      --common-elementItem-width: span 6;
    }
  }

  &--meskit {
    @media (min-width: @common-breakpoint-md) {
      --common-elementItem-width: span 3;
    }

    @media (min-width: @common-breakpoint-lg) {
      --common-elementItem-width: span 6;
    }

    @media (min-width: @common-breakpoint-xl) {
      --common-elementItem-width: span 4;
    }
  }

  &--amara {
    @media (min-width: @common-breakpoint-sm) {
      --common-elementItem-width: span 2;
    }

    @media (min-width: @common-breakpoint-md) {
      --common-elementItem-width: span 3;
    }

    @media (min-width: @common-breakpoint-lg) {
      --common-elementItem-width: span 4;
    }

    @media (min-width: @common-breakpoint-xl) {
      --common-elementItem-width: span 3;
    }
  }
}

.grid__item {
  #common.element-item();
}
