// Notify
//------------------------------------------------------------------------------

@notify-border-width: 0;
@notify-border-color: transparent;
@notify-border-radius: @radius;

@notify-color: inherit;
@notify-background: @base-divider;
@notify-link-color: @link-primary;

@notify-max-width: 500px;


// Style
//------------------------------------------------------------------------------

.notify {
	border-width: @notify-border-width;
	border-style: solid;
	border-color: @notify-border-color;
	border-radius: @notify-border-radius;
	position: fixed;
	z-index: 10;
	margin-right: @indent;
	left: @indent;
	bottom: @indent;
	background: @notify-background;
	color: @notify-color;
	fill: @notify-color;
	max-width: @notify-max-width;
	animation-duration: (@duration * 2);
	animation-name: notifyShow;
	animation-timing-function: @timing-function;
	animation-fill-mode: forwards;

	&--hide {
		animation-duration: @duration;
		animation-name: notifyHide;
	}

	a {
		.link(@notify-link-color);

		&:hover {
			.link-hover(@notify-link-color);
		}
	}
}

.notify__close {
	position: absolute;
	top: 0;
	right: 0;

	button {
		border: 0;
		padding: (@indent / 2);
		background-color: transparent;
		fill: @notify-color;
		line-height: 0;
		opacity: 0.7;
		transition-property: opacity;
		transition: @duration @timing-function;

		&:hover {
			opacity: 1;
		}
	}
}

.notify__wrap {
	padding-top: @indent;
	padding-bottom: @indent;
}

.notify__content {
	padding-left: (@grid-gutter / 2);
	padding-right: (@grid-gutter / 2);
}

@keyframes notifyShow {
	0% {
		transform: translate3d(-(@notify-max-width + @indent), 0, 0);
	}

	60% {
		transform: translate3d(10px, 0, 0);
	}

	100% {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes notifyHide {
	0% {
		transform: translate3d(0, 0, 0);
	}

	60% {
		transform: translate3d(10px, 0, 0);
	}

	100% {
		transform: translate3d(-(@notify-max-width + @indent), 0, 0);
	}
}
