.notify {
  #notify.this();
}

.notify__close {
  #notify.close();
}

.notify__wrap {
  #notify.wrap();
}

.notify__content {
  #notify.content();
}

@keyframes notifyShow {
  0% {
    transform: translate3d(~"calc((500px + var(--indent-base)) * -1)", 0, 0);
  }

  60% {
    transform: translate3d(10px, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes notifyHide {
  0% {
    transform: translate3d(0, 0, 0);
  }

  60% {
    transform: translate3d(10px, 0, 0);
  }

  100% {
    transform: translate3d(~"calc((500px + var(--indent-base)) * -1)", 0, 0);
  }
}
