@import "./variables";
@import "./../global/mixins.less";

.notify {
	border-width: @notify-border-width;
	border-style: solid;
	border-color: @notify-border-color;
	border-radius: @notify-border-radius;
	position: fixed;
	z-index: 10;
	margin-right: @indent;
	left: @indent;
	bottom: @indent;
	background-color: @notify-background-color;
	background-image: @notify-background-image;
	background-repeat: @notify-background-repeat;
	background-position: @notify-background-position;
	background-size: @notify-background-size;
	color: @notify-color;
	fill: @notify-color;
	max-width: @notify-max-width;
	transform: translate3d(-(@notify-max-width + @indent), 0, 0);
	animation-timing-function: @timing-function;
	animation-fill-mode: forwards;

	&--show {
		animation-duration: (@duration * 2);
		animation-name: notifyShow;
	}

	&--hide {
		animation-duration: @duration;
		animation-name: notifyHide;
	}

	a {
		.link(@notify-link-color);
	}
}

.notify__close {
	position: absolute;
	top: 0;
	right: 0;

	button {
		border: 0;
		padding: (@indent / 2);
		background-color: transparent;
		fill: @notify-color;
		line-height: 0;
		opacity: 0.7;
		transition-property: opacity;
		transition: @duration @timing-function;

		&:hover {
			opacity: 1;
		}
	}
}

.notify__wrap {
	padding-top: @indent;
	padding-bottom: @indent;
}

.notify__content {
	padding-left: @indent;
	padding-right: @indent;
}

@keyframes notifyShow {
	0% {
		transform: translate3d(-(@notify-max-width + @indent), 0, 0);
	}

	60% {
		transform: translate3d(10px, 0, 0);
	}

	100% {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes notifyHide {
	0% {
		transform: translate3d(0, 0, 0);
	}

	60% {
		transform: translate3d(10px, 0, 0);
	}

	100% {
		transform: translate3d(-(@notify-max-width + @indent), 0, 0);
	}
}
