@import "./variables";

#form() {
  .root() {
    --formControl-tone-base: @formControl-tone-base;
    --formControl-color-base: @formControl-color-base;
    --formControl-placeholderColor-base: @formControl-placeholderColor-base;
    --formControl-borderColor-base: @formControl-borderColor-base;

    --formControl-tone-hover: @formControl-tone-hover;
    --formControl-color-hover: @formControl-color-hover;
    --formControl-borderColor-hover: @formControl-borderColor-hover;

    --formControl-borderColor-focus: @formControl-borderColor-focus;
    --formControl-outlineColor-focus: @formControl-outlineColor-focus;
  }

  .this() {
    display: flex;
    flex-direction: column;
    margin-bottom: ~"calc(var(--indent-base) * -1)";
  }

  .item() {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--indent-base);

    @media (min-width: @breakpoint-md) {
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-start;
    }
  }

  .label() {
    margin-bottom: var(--indent-half);

    @media (min-width: @breakpoint-md) {
      margin-top: var(--indent-half);
      margin-right: var(--indent-base);
      margin-bottom: 0;
      flex-grow: 1;
    }
  }

  .field() {
    @media (min-width: @breakpoint-md) {
      width: 66.66%;
    }
  }

  .row() {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: ~"calc(var(--indent-half) * -1)";
    margin-bottom: ~"calc(var(--indent-half) * -1)";

    & + & {
      margin-top: var(--indent-base);
    }
  }

  .control() {
    flex-grow: 1;
    margin-right: var(--indent-half);
    margin-bottom: var(--indent-half);
  }

  .el() {
    display: block;
    border-width: 1px;
    border-style: solid;
    border-color: var(--formControl-borderColor-base);
    border-radius: var(--box-radius-primary);
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: var(--formControl-color-base);
    padding: ~"calc(var(--indent-half) - 1px)" ~"calc(var(--indent-base) - 1px)";
    width: 100%;
    appearance: none;
    min-height: ~"calc(var(--line-height-base) + var(--indent-base))";
    background-color: var(--formControl-tone-base);
    transition-duration: var(--animation-duration);
    transition-timing-function: var(--animation-timing-function);
    transition-property+: box-shadow, color, border-color, background-color;

    &:not([disabled]):focus {
      --formControl-borderColor-base: var(--formControl-borderColor-focus) !important;

      outline: none;
      box-shadow: 0 0 0 2px var(--formControl-outlineColor-focus);
    }

    body:not(.mobile) &:not([disabled]):hover {
      --formControl-tone-base: var(--formControl-tone-hover);
      --formControl-color-base: var(--formControl-color-hover);
      --formControl-borderColor-base: var(--formControl-borderColor-hover);
    }

    &:not(:focus):invalid {
      box-shadow: none;
      outline: none;
    }

    &::placeholder {
      color: var(--formControl-placeholderColor-base);
    }
  }

  .input() {
    #form.el();

    &::-ms-clear,
    &::-ms-reveal {
      display: none;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }

    &[type="number"] {
      appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        appearance: none;
      }
    }
  }

  .select() {
    #form.el();
    cursor: pointer;

    &::-ms-expand {
      display: none;
    }
  }

  .textarea() {
    #form.el();
    resize: vertical;
  }

  .action() {
    width: 100%;

    @media (min-width: @breakpoint-md) {
      width: auto;
    }
  }
}
