@import "./variables";

#form() {
  .root() {
    --form-control-placeholderColor: @form-control-placeholderColor;

    --form-control-backgroundColor-base: @form-control-backgroundColor-base;
    --form-control-color-base: @form-control-color-base;
    --form-control-borderColor-base: @form-control-borderColor-base;

    --form-control-backgroundColor-hover: @form-control-backgroundColor-hover;
    --form-control-color-hover: @form-control-color-hover;
    --form-control-borderColor-hover: @form-control-borderColor-hover;

    --form-control-backgroundColor-focus: @form-control-backgroundColor-focus;
    --form-control-borderColor-focus: @form-control-borderColor-focus;
    --form-control-outlineColor-focus: @form-control-outlineColor-focus;

    --form-control-backgroundColor-danger: @form-control-backgroundColor-danger;
    --form-control-borderColor-danger: @form-control-borderColor-danger;
    --form-control-outlineColor-danger: @form-control-outlineColor-danger;
  }

  .this() {
    display: flex;
    flex-direction: column;
    margin-bottom: ~"calc(var(--common-indent-base) * -1)";
  }

  .item() {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--common-indent-base);

    @media (min-width: @common-breakpoint-md) {
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-start;
    }
  }

  .label() {
    margin-bottom: var(--common-indent-half);

    @media (min-width: @common-breakpoint-md) {
      margin-top: var(--common-indent-half);
      margin-right: var(--common-indent-base);
      margin-bottom: 0;
      flex-grow: 1;
    }
  }

  .field() {
    @media (min-width: @common-breakpoint-md) {
      width: 66.66%;
    }
  }

  .row() {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: ~"calc(var(--common-indent-half) * -1)";
    margin-bottom: ~"calc(var(--common-indent-half) * -1)";

    & + & {
      margin-top: var(--common-indent-base);
    }
  }

  .control() {
    flex-grow: 1;
    margin-right: var(--common-indent-half);
    margin-bottom: var(--common-indent-half);
  }

  .el() {
    display: block;
    border-width: 1px;
    border-style: solid;
    border-color: var(--form-control-borderColor-base);
    border-radius: var(--common-boxRadius-primary);
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: var(--form-control-color-base);
    padding: ~"calc(var(--common-indent-half) - 1px)" ~"calc(var(--common-indent-base) - 1px)";
    width: 100%;
    appearance: none;
    min-height: ~"calc(var(--common-lineHeight-base) + var(--common-indent-base))";
    background-color: var(--form-control-backgroundColor-base);
    transition-duration: var(--common-animationDuration-primary);
    transition-timing-function: var(--common-animationTimingFunction-primary);
    transition-property+: box-shadow, color, border-color, background-color;

    &:not([disabled]):focus {
      --form-control-backgroundColor-base: var(--form-control-backgroundColor-focus);
      --form-control-borderColor-base: var(--form-control-borderColor-focus) !important;

      outline: none;
      box-shadow: 0 0 0 2px var(--form-control-outlineColor-focus);
    }

    body:not(.mobile) &:not([disabled]):hover {
      --form-control-backgroundColor-base: var(--form-control-backgroundColor-hover);
      --form-control-color-base: var(--form-control-color-hover);
      --form-control-borderColor-base: var(--form-control-borderColor-hover);
    }

    &:not(:focus):invalid {
      box-shadow: none;
      outline: none;
    }

    &::placeholder {
      color: var(--form-control-placeholderColor);
    }

    &--danger {
      --form-control-backgroundColor-base: var(--form-control-backgroundColor-danger);
      --form-control-borderColor-base: var(--form-control-borderColor-danger) !important;

      &:not([disabled]):focus {
        --form-control-borderColor-base: var(--form-control-borderColor-danger) !important;

        box-shadow: 0 0 0 2px var(--form-control-outlineColor-danger) !important;
      }
    }
  }

  .input() {
    #form.el();

    &::-ms-clear,
    &::-ms-reveal {
      display: none;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }

    &[type="number"] {
      appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        appearance: none;
      }
    }
  }

  .select() {
    #form.el();
    cursor: pointer;

    &::-ms-expand {
      display: none;
    }
  }

  .textarea() {
    #form.el();
    resize: vertical;
  }

  .hint {
    #common.text-small();
    margin-top: var(--common-indent-half);
    color: var(--common-baseColor-hint);

    & + & {
      margin-top: 0;
    }
  }

  .action() {
    width: 100%;

    @media (min-width: @common-breakpoint-md) {
      width: auto;
    }
  }
}
