// Settings
//------------------------------------------------------------------------------

// Base

@table-head-font-size: @font-size-smaller;
@table-head-line-height: @line-height-smaller;
@table-head-font-weight: normal;
@table-head-font-family: @font-family-primary;
@table-head-color: @base-secondary;

@table-divider: @base-divider;

@table-tr-hover-background-color: @table-divider;

// Darken

@table-darken-head-color: @light-secondary;

@table-darken-divider: @light-divider;

@table-darken-tr-hover-background-color: @table-darken-divider;

// Lighten

@table-lighten-head-color: @dark-secondary;

@table-lighten-divider: @dark-divider;

@table-lighten-tr-hover-background-color: @table-lighten-divider;


// Table
//------------------------------------------------------------------------------

.table {
	position: relative;
	margin-right: -(@grid-gutter / 2);
	margin-left: -(@grid-gutter / 2);
	margin-bottom: @indent;

	@media (min-width: @grid-breakpoints-sm) {
		margin-right: auto;
		margin-left: auto;
	}

	&:last-child {
		margin-bottom: 0;
	}

	& + & {
		margin-top: @indent-element-smaller;

		@media (min-width: @grid-breakpoints-md) {
			margin-top: @indent-element-larger;
		}
	}

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 1;
		width: 10px;
		background-repeat: no-repeat;
		background-size: 1px 100%, 100% 100%;
		opacity: 0;
		transition: (@duration / 2) @timing-function;
		transition-property: opacity;
		pointer-events: none;
	}

	&::before {
		left: 0;
		background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 10%, rgba(0, 0, 0, 0.05) 90%, transparent), radial-gradient(farthest-side at 0 50%, rgba(0, 0, 0, 0.15), transparent);
		background-position: 0 0, 0 0;
	}

	&::after {
		right: 0;
		background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 10%, rgba(0, 0, 0, 0.05) 90%, transparent), radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.15), transparent);
		background-position: 100% 0, 100% 0;
	}

	&--left-shadow::before {
		opacity: 1;
	}

	&--right-shadow::after {
		opacity: 1;
	}

	&--responsive {
		@media (max-width: (@grid-breakpoints-sm - 1px)) {
			white-space: normal !important;

			&::before,
			&::after {
				display: none;
			}
		}
	}
}

.table__wrap {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;

	.table--responsive & {
		@media (max-width: (@grid-breakpoints-sm - 1px)) {
			overflow-x: visible;
		}
	}

	table {
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;

		.table--responsive & {
			@media (max-width: (@grid-breakpoints-sm - 1px)) {
				display: block;
			}
		}
	}

	th,
	td {
		padding: @indent (@grid-gutter / 2);
		overflow: hidden;
		vertical-align: top;
		border-bottom: 1px solid @table-divider;
		text-align: left;

		@media (min-width: @grid-breakpoints-sm) {
			body.mobile & {
				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					padding-right: 0;
				}
			}
		}

		.table--responsive & {
			@media (max-width: (@grid-breakpoints-sm - 1px)) {
				text-align: left !important;
				white-space: normal !important;
				display: block;
				border-bottom-width: 0;
				padding-top: 0;

				&:first-child {
					padding-top: @indent;
				}

				&:before {
					display: block;
					content: attr(data-title);
					font-size: @table-head-font-size;
					font-weight: @table-head-font-weight;
					font-family: @table-head-font-family;
					line-height: @table-head-line-height;
					color: @table-head-color;
					fill: @table-head-color;
				}
			}
		}

		.table--darken & {
			border-color: @table-darken-divider;
		}

		.table--lighten & {
			border-color: @table-lighten-divider;
		}
	}

	th {
		padding-top: 0;
		font-size: @table-head-font-size;
		font-weight: @table-head-font-weight;
		font-family: @table-head-font-family;
		line-height: @table-head-line-height;
		vertical-align: bottom;
		color: @table-head-color;
		fill: @table-head-color;
		padding-bottom: (@indent / 2);

		.table--darken & {
			color: @table-darken-head-color;
			fill: @table-darken-head-color;
		}

		.table--lighten & {
			color: @table-lighten-head-color;
			fill: @table-lighten-head-color;
		}
	}

	thead {
		.table--responsive & {
			@media (max-width: (@grid-breakpoints-sm - 1px)) {
				display: none;
			}
		}
	}

	tbody {
		.table--responsive & {
			@media (max-width: (@grid-breakpoints-sm - 1px)) {
				display: block;
			}
		}

		tr {
			background-color: fade(@table-tr-hover-background-color, 0);
			transition-property: background-color;
			transition: @duration @timing-function;

			.table--responsive & {
				@media (max-width: (@grid-breakpoints-sm - 1px)) {
					display: block;
					border-bottom: 1px solid @table-divider;

					&:first-child {
						border-top: 1px solid @table-divider;
					}
				}
			}

			body:not(.mobile) &:hover {
				background-color: fade(@table-tr-hover-background-color, 100%);
			}

			.table--darken & {
				border-color: fade(@table-darken-tr-hover-background-color, 0);

				body:not(.mobile) &:hover {
					background-color: fade(@table-darken-tr-hover-background-color, 100%);
				}
			}

			.table--lighten & {
				border-color: fade(@table-lighten-tr-hover-background-color, 0);

				body:not(.mobile) &:hover {
					background-color: fade(@table-lighten-tr-hover-background-color, 100%);
				}
			}
		}
	}
}
