@import "./../global/variables";

// Base

@table-divider: @base-divider;

// Head

@table-head-font-size: @font-size-smaller;
@table-head-line-height: @line-height-smaller;

@table-head-color: @base-secondary;

// Tr

@table-tr-hover-background-color: @table-divider;

// Darken

@table-darken-divider: @light-divider;

// Darken head

@table-darken-head-color: @light-secondary;

// Darken tr

@table-darken-tr-hover-background-color: @table-darken-divider;

// Lighten

@table-lighten-divider: @dark-divider;

// Lighten head

@table-lighten-head-color: @dark-secondary;

// Lighten tr

@table-lighten-tr-hover-background-color: @table-lighten-divider;
