.group() {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -@indent-base;
	margin-right: -@indent-base;

	& + & {
		margin-top: @indent-base;
	}
}

.group__item() {
	margin-bottom: @indent-base;
	margin-right: @indent-base;
}
