:root {
  --group-elementGap-horizontal: @group-elementGap-horizontal;
  --group-elementGap-vertical: @group-elementGap-vertical;
}

.group {
  display: flex;
  flex-wrap: wrap;
  margin-right: ~"calc(var(--group-elementGap-horizontal) * -1)";
  margin-bottom: ~"calc(var(--group-elementGap-vertical) * -1)";

  & + & {
    margin-top: var(--group-elementGap-vertical);
  }
}

.group__item {
  margin-right: var(--group-elementGap-horizontal);
  margin-bottom: var(--group-elementGap-vertical);
}
