@import "./variables";
@import "./../global/mixins";

.scene {
	#grid.gap(block; padding-bottom);
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	&--contrast {
		color: contrast(@base-primary, @dark-primary, @light-primary);
		background-color: @base-primary;
	}

	& + &--contrast,
	&--contrast + &:not(&--contrast),
	&--fill {
		#grid.gap(block; padding-top);
	}
}
