@import "./../global/variables";

// Base

@scene-color: inherit;

@scene-background-color: transparent;

// Darken

@scene-darken-color: @light-primary;

@scene-darken-background-color: @dark-primary;

// Lighten

@scene-lighten-color: @dark-primary;

@scene-lighten-background-color: @light-primary;
