mixin carousel(data={})
  .carousel.swiper-container&attributes(attributes)(data-options=data)
    .carousel__list.swiper-wrapper
      block
      //- .carousel__item.swiper-slide
      //- .carousel__item.swiper-slide
      //- .carousel__item.swiper-slide
      //- ...

    if data.pagination
      .carousel__pagination(class=data.isPaginationInside ? "carousel__pagination--inside" : null)
