@import "./../form/variables";

// Item

@carousel-item-background-color: transparent;
@carousel-item-background-image: none;
@carousel-item-background-repeat: no-repeat;
@carousel-item-background-position: 50%;
@carousel-item-background-size: cover;

// Bullet

@carousel-bullet-width: 7px;
@carousel-bullet-height: 7px;
@carousel-bullet-radius: 50%;
