@button-padding-horizontal: 28px;
@button-padding-vertical: 16px;

@button-border-width: 0px;
@button-border-radius: 8px;

@button-color: @common-text-base-weak;
@button-background-color: @common-root-accent-strong;
@button-border-color: transparent;

@button-color-hover: @common-text-base-weak;
@button-background-color-hover: multiply(@common-root-accent-strong, #ccc);
@button-border-color-hover: transparent;

@button-outline-color-focus: fadeout(@common-root-accent-strong, 50%, relative);

// Inverse

@button-inverse-color: @common-text-base-weak;
@button-inverse-background-color: @common-back-accent-weak;
@button-inverse-border-color: transparent;

@button-inverse-color-hover: @common-text-base-weak;
@button-inverse-background-color-hover: multiply(@common-back-accent-weak, #ccc);
@button-inverse-border-color-hover: transparent;

@button-inverse-outline-color-focus: fadeout(@common-back-accent-weak, 50%, relative);
