.price {
  display: flex;
  align-items: baseline;

  &--old {
    #common.text-remark();
    color: @common-text-faint-strong;

    .inverse &,
    &.inverse {
      color: @common-text-faint-weak;
    }
  }
}

.price__before {
  margin-right: 0.4em;
  order: 1;
}

.price__value,
.price__currency {
  .price:not(.price--old) & {
    #common.text-large();
  }
}

.price__value {
  order: 2;

  [lang="en"] & {
    order: 3;
    margin-left: 0.2em;
  }

  .price--old & {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-color: @common-line-faint-strong;
      height: 1px;
      width: 40px;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0) rotate(25deg);

      .inverse & {
        background-color: @common-line-faint-weak;
      }
    }
  }
}

.price__currency {
  order: 3;

  [lang="ru"] & {
    margin-left: 0.2em;
  }

  [lang="en"] & {
    order: 2;
  }
}

.price__after {
  margin-left: 0.4em;
  order: 4;
}
