@import "./../../../src/index";
@import "./styles";

.page {
  display: flex;
  flex-direction: column;
  min-height: ~"calc(var(--vh, 1vh) * 100)";
  overflow-x: hidden;
}

.main {
  flex-grow: 1;
}
