:root {
  @media (min-width: @common-breakpoint-sm) {
    --common-block-gap-horizontal: 48px;
  }

  @media (min-width: @common-breakpoint-md) {
    --common-text-font-size-decor: 1.75rem;
    --common-text-line-height-decor: 2.25rem;

    --common-element-gap-horizontal: 48px;
    --common-element-gap-vertical: 48px;

    --common-block-gap-horizontal: 80px;
    --common-block-gap-vertical: 80px;

    --base-h1-font-size: 3.5rem;
    --base-h1-line-height: 4rem;

    --base-h2-font-size: 2.5rem;
    --base-h2-line-height: 3rem;

    --base-h3-font-size: 1.75rem;
    --base-h3-line-height: 2.25rem;
  }
}

.scene {
  .inverse &,
  &.inverse {
    --scene-color: @common-text-base-weak;
    --scene-background-color: @common-root-base-strong;

    padding-top: @common-block-gap-vertical;
  }
}

.btn {
  .inverse &,
  &.inverse {
    --base-btn-background-color: @common-back-accent-weak;

    --base-btn-background-color-hover: multiply(@common-back-accent-weak, #ccc);

    --base-btn-outline-color-focus: fadeout(@common-back-accent-weak, 50%, relative);
  }

  &--outline {
    --base-btn-border-width: 1px;

    --base-btn-color: @common-text-accent-strong;
    --base-btn-background-color: transparent !important;
    --base-btn-border-color: @common-line-accent-strong;

    --base-btn-color-hover: multiply(@common-text-accent-strong, #ccc);
    --base-btn-background-color-hover: transparent !important;
    --base-btn-border-color-hover: multiply(@common-line-accent-strong, #ccc);

    .inverse &,
    &.inverse {
      --base-btn-color: @common-text-base-weak;
      --base-btn-border-color: @common-line-faint-weak;

      --base-btn-color-hover: @common-text-base-weak;
      --base-btn-border-color-hover: fadeout(@common-line-base-weak, 60%, relative);

      --base-btn-outline-color-focus: fadeout(@common-line-base-weak, 80%, relative);
    }
  }

  &--link {
    --base-btn-padding-horizontal: 0;
    --base-btn-padding-vertical: 0;

    --base-btn-border-radius: 0;

    --base-btn-color: @common-text-accent-strong;
    --base-btn-background-color: transparent !important;

    --base-btn-color-hover: multiply(@common-text-accent-strong, #ccc);
    --base-btn-background-color-hover: transparent !important;

    .inverse &,
    &.inverse {
      --base-btn-color: @common-text-accent-weak;

      --base-btn-color-hover: multiply(@common-text-accent-weak, #ccc);
    }
  }

  &--small {
    --base-btn-padding-horizontal: 16px;
    --base-btn-padding-vertical: 8px;
  }
}
