@import "./../../../src/common/variables";
@import "./../../../src/common/mixins";
@import "./../../../src/common/functions";

@media (min-width: @breakpoint-md) {
	:root {
		--font-size-h1: ~"calc(@{font-size-base} * 2.25)"; // 36px
		--font-size-h2: var(--font-size-h1); // 36px

		--line-height-h1: ~"calc(@{font-size-base} * 2.75)"; // 44px
		--line-height-h2: var(--line-height-h1); // 44px

		--gap-element-base: ~"calc(@{indent-base} * 3)"; // 48px
		--gap-element-half: ~"calc(var(--gap-element-base) / 2)"; // 24px

		--gap-block-base: ~"calc(@{indent-base} * 5)"; // 80px
		--gap-block-half: ~"calc(var(--gap-block-base) / 2)"; // 40px
	}
}

// .btn {
// 	&--light {
// 		.button(@tone-base:#eee; @border-base: #000);
// 	}

// 	&--contour {
// 		.button(transparent);
// 	}
// }
