@common-fontFamily-primary: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "NotoColorEmoji", "Segoe UI Emoji", "Segoe UI Symbol";

@common-lineHeight-large: 1.75rem;

@base-h1-fontSize: 1.75rem;
@base-h1-lineHeight: 2.5rem;
@base-h1-fontWeight: 300;

@base-h2-fontSize: 1.75rem;
@base-h2-lineHeight: 2rem;

@base-h3-fontSize: 1.25rem;
@base-h3-lineHeight: 1.5rem;

@common-darkColor-primary: fade(#000, 80%);
@common-darkColor-divider: fade(@common-darkColor-primary, 15%);

@common-backgroundColor-base: #F9F7F9;
@common-backgroundColor-dark: #1F2022;
@common-backgroundColor-light: #FFFFFF;

@common-accentColor-primary: #5B4565;
