// Root

@root-base-strong: #000000;
@root-base-weak: #FFFFFF;

@root-faint-strong: #999999;
@root-faint-weak: #EEEEEE;

@root-accent-strong: #0070f5;
@root-accent-weak: #a9d0ff;

@root-complement-strong: #5452CC;
@root-complement-weak: #D1D0FF;

@root-critic-strong: #F53126;
@root-critic-weak: #FFD0CD;

@root-warning-strong: #F5C200;
@root-warning-weak: #FFF2BE;

@root-success-strong: #1EC337;
@root-success-weak: #B8DFBE;


// Back

@back-base-strong: @back-root-strong;
@back-base-weak: #fff;

@back-faint-strong: #292929;
@back-faint-weak: #eee;

@back-accent-strong: #0070f5;
@back-accent-weak: #148eff;

@back-complement-strong: #5452cc;
@back-complement-weak: #6361f2;

@back-critic-strong: @root-critic-strong;
@back-critic-weak: @root-critic-weak;

@back-warning-strong: @root-warning-strong;
@back-warning-weak: @root-warning-weak;

@back-success-strong: @root-success-strong;
@back-success-weak: @root-success-weak;


// Text

@text-base-strong: fade(#000000, 85%);
@text-base-weak: #fff;

@text-faint-strong: rgba(0, 0, 0, 0.5);
@text-faint-weak: rgba(255, 255, 255, 0.5);

@text-accent-strong: #0070f5;
@text-accent-weak: #148eff;

@text-complement-strong: #5452cc;
@text-complement-weak: #6361f2;

@text-critic-strong: @root-critic-strong;
@text-critic-weak: @root-critic-weak;

@text-warning-strong: @root-warning-strong;
@text-warning-weak: @root-warning-weak;

@text-success-strong: @root-success-strong;
@text-success-weak: @root-success-weak;


// Line

@line-base-strong: fade(#000000, 85%);
@line-base-weak: rgba(255, 255, 255, 0.13);

@line-faint-strong: rgba(0, 0, 0, 0.1);
@line-faint-weak: rgba(255, 255, 255, 0.13);

@line-accent-strong: #0070f5;
@line-accent-weak: #148eff;

@line-complement-strong: #5452cc;
@line-complement-weak: #6361f2;

@line-critic-strong: @root-critic-strong;
@line-critic-weak: @root-critic-weak;

@line-warning-strong: @root-warning-strong;
@line-warning-weak: @root-warning-weak;

@line-success-strong: @root-success-strong;
@line-success-weak: @root-success-weak;


// Icon

@icon-base-strong: @back-root-strong;
@icon-base-weak: #fff;

@icon-faint-strong: #292929;
@icon-faint-weak: #eee;

@icon-accent-strong: #0070f5;
@icon-accent-weak: #148eff;

@icon-complement-strong: #5452cc;
@icon-complement-weak: #6361f2;

@icon-critic-strong: @root-critic-strong;
@icon-critic-weak: @root-critic-weak;

@icon-warning-strong: @root-warning-strong;
@icon-warning-weak: @root-warning-weak;

@icon-success-strong: @root-success-strong;
@icon-success-weak: @root-success-weak;


// Fancy

@fancy-base-strong: @back-root-strong;
@fancy-base-weak: #fff;

@fancy-faint-strong: #292929;
@fancy-faint-weak: #eee;

@fancy-accent-strong: #0070f5;
@fancy-accent-weak: #148eff;

@fancy-complement-strong: #5452cc;
@fancy-complement-weak: #6361f2;

@fancy-critic-strong: @root-critic-strong;
@fancy-critic-weak: @root-critic-weak;

@fancy-warning-strong: @root-warning-strong;
@fancy-warning-weak: @root-warning-weak;

@fancy-success-strong: @root-success-strong;
@fancy-success-weak: @root-success-weak;
