@import "./functions";

.box-contrast(@color: @color-base-primary) {
	@new-color: contrast(@color, @color-dark-primary, @color-light-primary);

	color: @new-color;
	background-color: contrast(@new-color, @color-tone-light, @color-tone-dark);
}

.link(@color-base: @color-accent-primary; @color-hover: inherit) when not (@color-base = inherit) {
	color: @color-base;
	cursor: pointer;
	text-decoration: none;
	border-bottom: 1px solid fadeout(@color-base, 70%, relative);
	transition: @animation-duration @animation-timing-function;
	transition-property+: color, fill, border-bottom-color;

	&:hover {
		@color-hover3: if(@color-hover = inherit, .set-lida(@color-base)[@result], @color-hover);

		color: @color-hover3;
		border-bottom-color: fadeout(@color-hover3, 70%, relative);
	}

	&:not([href]),
	&[href^="tel"] {
		color: inherit !important;
		border-bottom-color: transparent !important;
		cursor: inherit;
	}

	&[href^="tel"] {
		white-space: nowrap;
	}

	&[aria-label] {
		border-bottom-color: transparent !important;
	}
}
