@import "./functions";

.box-contrast(@color: @color-base-primary) {
	color: contrast(@color, @color-dark-primary, @color-light-primary);
	background-color: contrast($color, @color-tone-light, @color-tone-dark);
}

.link(@color-base: @color-accent-primary; @color-hover: inherit) when not (@color-base = inherit) {
	color: @color-base;
	cursor: pointer;
	text-decoration: none;
	border-bottom-width: 0;
	border-bottom-style: solid;
	border-bottom-color: fadeout(@color-base, 70%, relative);
	transition-duration: @animation-duration;
	transition-timing-function: @animation-timing-function;
	transition-property+: color, fill, border-bottom-color;

	&:hover {
		color: if(@color-hover = inherit, .set-color-hover(@color-base)[], @color-hover);
		border-bottom-color: fadeout($color, 70%, relative);
	}

	&:not([href]),
	&[href^="tel"] {
		color: inherit !important;
		border-bottom-color: transparent !important;
		cursor: inherit;
	}

	&[href^="tel"] {
		white-space: nowrap;
	}

	&[aria-label] {
		border-bottom-color: transparent !important;
	}
}

.button(@tone-base: @color-accent-primary; @color-base: contrast; @border-base: transparent; @tone-hover: inherit; @color-hover: inherit; @border-hover: inherit) {
	cursor: pointer;
	font-size: @font-size-base;
	line-height: @line-height-base;
	color: if(@color-base = contrast, contrast(@tone-base, @color-dark-primary, @color-light-primary), @color-base);
	position: relative;
	display: inline-flex;
	align-items: center;
	padding: (@indent-base / 2 - 1px) (@indent-base * 1.25 - 1px);
	min-height: @line-height-base + @indent-base;
	border-radius: $min-height / 2;
	vertical-align: middle;
	justify-content: center;
	white-space: nowrap;
	background-color: @tone-base;
	border-width: 1px;
	border-style: solid;
	border-color: if(@border-base = transparent, transparent, @border-base);
	transition-duration: @animation-duration;
	transition-timing-function: @animation-timing-function;
	transition-property+: box-shadow, border-color, background-color;

	// &:hover {
	// 	color: if(@color-hover = inherit, inherit, @color-hover);
	// 	background-color: if(@tone-hover = inherit, .set-color-hover(@tone-base)[], @tone-hover);
	// 	border-color: if(@border-hover = inherit, .set-color-hover(@border-base)[], @border-hover);
	// }

	&:active {
		top: 1px;
	}
}
