#common() {
  .text() {
    font-family: @common-text-font-family;
    font-size: @common-text-font-size;
    line-height: @common-text-line-height;
    font-weight: @common-text-font-weight;
  }

  .text-small() {
    font-family: @common-text-font-family-small;
    font-size: @common-text-font-size-small;
    line-height: @common-text-line-height-small;
    font-weight: @common-text-font-weight-small;
  }

  .text-large() {
    font-family: @common-text-font-family-large;
    font-size: @common-text-font-size-large;
    line-height: @common-text-line-height-large;
    font-weight: @common-text-font-weight-large;
  }

  .text-remark() {
    font-family: @common-text-font-family-remark;
    font-size: @common-text-font-size-remark;
    line-height: @common-text-line-height-remark;
    font-weight: @common-text-font-weight-remark;
  }

  .text-label() {
    font-family: @common-text-font-family-label;
    font-size: @common-text-font-size-label;
    line-height: @common-text-line-height-label;
    font-weight: @common-text-font-weight-label;
  }

  .text-decor() {
    font-family: @common-text-font-family-decor;
    font-size: var(--common-text-font-size-decor, @common-text-font-size-decor);
    line-height: var(--common-text-line-height-decor, @common-text-line-height-decor);
    font-weight: @common-text-font-weight-decor;
  }

  .element-list() {
    display: flex;
    flex-wrap: wrap;
    width: ~"calc(100% + var(--common-element-gap-horizontal, @{common-element-gap-horizontal}))";
    max-width: ~"calc(var(--common-element-max-width, @{common-element-max-width}) + var(--common-element-gap-horizontal, @{common-element-gap-horizontal}))";
    margin-right: ~"calc(var(--common-element-gap-horizontal, @{common-element-gap-horizontal}) * -1)";
    margin-bottom: ~"calc(var(--common-element-gap-vertical, @{common-element-gap-vertical}) * -1)";

    & + & {
      margin-top: var(--common-element-gap-vertical, @common-element-gap-vertical);
    }
  }

  .element-item() {
    width: var(--common-element-width, @common-element-width);
    border: 0 solid transparent;
    border-right-width: var(--common-element-gap-horizontal, @common-element-gap-horizontal);
    border-bottom-width: var(--common-element-gap-vertical, @common-element-gap-vertical);
  }

  .block() {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--common-block-gap-vertical, @common-block-gap-vertical);
    padding-right: var(--common-block-gap-horizontal, @common-block-gap-horizontal);
    padding-bottom: var(--common-block-gap-vertical, @common-block-gap-vertical);
    padding-left: var(--common-block-gap-horizontal, @common-block-gap-horizontal);

    & + & {
      padding-top: 0;
    }
  }
}
