:root {
	--font-size-h1: @font-size-h1;
	--font-size-h2: @font-size-h2;
	--font-size-h3: @font-size-h3;

	--line-height-h1: @line-height-h1;
	--line-height-h2: @line-height-h2;
	--line-height-h3: @line-height-h3;

	--gap-element-base: @gap-element-base;
	--gap-element-half: @gap-element-half;

	--gap-block-base: @gap-block-base;
	--gap-block-half: @gap-block-half;
}
