:root {
  #common.root();
}

.font-family-primary {
  font-family: var(--font-family-primary) !important;
}

.text-base {
  #common.text-base() !important;
}

.text-small {
  #common.text-small() !important;
}

.text-large {
  #common.text-large() !important;
}

.text-uppercase {
  #common.text-uppercase() !important;
}

.color-base-primary {
  color: var(--color-base-primary) !important;
}

.color-base-secondary {
  color: var(--color-base-secondary) !important;
}

.color-base-hint {
  color: var(--color-base-hint) !important;
}

.color-base-divider {
  color: var(--color-base-divider) !important;
}

.color-dark-primary {
  color: var(--color-dark-primary) !important;
}

.color-dark-secondary {
  color: var(--color-dark-secondary) !important;
}

.color-dark-hint {
  color: var(--color-dark-hint) !important;
}

.color-dark-divider {
  color: var(--color-dark-divider) !important;
}

.color-light-primary {
  color: var(--color-light-primary) !important;
}

.color-light-secondary {
  color: var(--color-light-secondary) !important;
}

.color-light-hint {
  color: var(--color-light-hint) !important;
}

.color-light-divider {
  color: var(--color-light-divider) !important;
}

.color-accent-primary {
  color: var(--color-accent-primary) !important;
}

.color-alert-success {
  color: var(--color-alert-success) !important;
}

.color-alert-warning {
  color: var(--color-alert-warning) !important;
}

.color-alert-danger {
  color: var(--color-alert-danger) !important;
}

.box-base {
  #common.box-base() !important;
}

.box-dark {
  #common.box-dark() !important;
}

.box-light {
  #common.box-light() !important;
}

.box-shadow-primary {
  box-shadow: var(--box-shadow-primary) !important;
}

.box-radius-primary {
  border-radius: var(--box-radius-primary) !important;
}

.element-base {
  #common.element-base();
}

.element-wrap {
  #common.element-wrap();
}

.element-list {
  #common.element-list();
}

.element-item {
  #common.element-item();
}

.block-base {
  #common.block-base();
}

.visually-hidden {
  #common.visually-hidden();
}
