:root {
	.root();
}

.font-family-primary {
	font-family: @font-family-primary;
}

.font-family-secondary {
	font-family: @font-family-secondary;
}

.text-base {
	.text-base();
}

.text-small {
	.text-small();
}

.text-large {
	.text-large();
}

.text-uppercase {
	.text-uppercase();
}

.color-base-primary {
	color: @color-base-primary;
}

.color-base-secondary {
	color: @color-base-secondary;
}

.color-base-hint {
	color: @color-base-hint;
}

.color-base-divider {
	color: @color-base-divider;
}

.color-dark-primary {
	color: @color-dark-primary;
}

.color-dark-secondary {
	color: @color-dark-secondary;
}

.color-dark-hint {
	color: @color-dark-hint;
}

.color-dark-divider {
	color: @color-dark-divider;
}

.color-light-primary {
	color: @color-light-primary;
}

.color-light-secondary {
	color: @color-light-secondary;
}

.color-light-hint {
	color: @color-light-hint;
}

.color-light-divider {
	color: @color-light-divider;
}

.color-accent-primary {
	color: @color-accent-primary;
}

.color-alert-success {
	color: @color-alert-success;
}

.color-alert-warning {
	color: @color-alert-warning;
}

.color-alert-danger {
	color: @color-alert-danger;
}

.box-base {
	.box-base();
}

.box-dark {
	.box-dark();
}

.box-light {
	.box-light();
}

.box-shadow-primary {
	box-shadow: @box-shadow-primary;
}

.box-radius-primary {
	border-radius: @box-radius-primary;
}

.element-base {
	.element-base();
}

.element-wrap {
	.element-wrap();
}

.element-list {
	.element-list();
}

.element-item {
	.element-item();
}

.block-base {
	.block-base();
}

.visually-hidden {
	.visually-hidden();
}
