// Семейство шрифтов (может дополняться при необходимости)
@font-family-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "NotoColorEmoji", "Segoe UI Emoji", "Segoe UI Symbol"; // базовое
@font-family-secondary: @font-family-primary; // для заголовков

// Размеры шрифтов
@font-size-base: 16px; // базовый
@font-size-small: @font-size-base * 0.75; // (12px) уменьшенный для подписей и сносок
@font-size-large: @font-size-base * 1.25; // (20px) увеличенный для лидов и крупнных текстов
@font-size-h1: @font-size-base * 2; // (32px) для заголовков первого уровня
@font-size-h2: @font-size-h1; // (32px) для заголовков второго уровня
@font-size-h3: @font-size-base * 1.5; // (24px) для заголовков третьего уровня

// Высоты строк
@line-height-base: @font-size-base * 1.75; // (28px) базовая
@line-height-small: @font-size-base * 1.25; // (20px) уменьшенная для подписей и сносок
@line-height-large: @font-size-base * 2; // (32px) увеличенная для лидов и крупных текстов
@line-height-h1: @font-size-base * 2.5; // (40px) для заголовков первого уровня
@line-height-h2: @line-height-h1; // (40px) для заголовков второго уровня
@line-height-h3: @font-size-base * 2; // (32px) для заголовков третьего уровня

// Фоновые цвета компонентов
@color-tone-base: #fff; // базовый для всего сайта
@color-tone-dark: #393939; // для темного компонента
@color-tone-light: #eee; // для светлого компонента

// Базовые цвета для всего сайта
@color-base-primary: contrast(@color-tone-base, @color-dark-primary, @color-light-primary); // основной
@color-base-secondary: contrast(@color-tone-base, @color-dark-secondary, @color-light-secondary); // вторичный
@color-base-hint: contrast(@color-tone-base, @color-dark-hint, @color-light-hint); // для подсказок
@color-base-divider: contrast(@color-tone-base, @color-dark-divider, @color-light-divider); // для разделителей

// Цвета для светлых компонентов
@color-dark-primary: #222; // основной
@color-dark-secondary: fade(@color-dark-primary, 70%); // вторичный
@color-dark-hint: fade(@color-dark-primary, 45%); // для подсказок
@color-dark-divider: fade(@color-dark-primary, 10%); // для разделителей

// Цвета для темных компонентов
@color-light-primary: #fff; // основной
@color-light-secondary: fade(@color-light-primary, 55%); // вторичный
@color-light-hint: fade(@color-light-primary, 30%); // для подсказок
@color-light-divider: fade(@color-light-primary, 7%); // для разделителей

// Акцентный (брендовый) цвет (может дополняться при необходимости)
@color-accent-primary: #007aff; // для ссылок, кнопок и т. п.

// Цвета оповещений
@color-alert-success: #4cd964; // для успеха
@color-alert-warning: #fc0; // для предупреждения
@color-alert-danger: #ff3b30; // для ошибки

// Отступы внутри элемента
@indent-base: @font-size-base; // (16px) базовый (между параграфами)
@indent-half: @indent-base / 2; // (8px) половинный
@indent-double: @indent-base * 2; // (32px) двойной

// Отступы между элементами
@gap-element-base: @indent-base * 2.5; // (40px) базовый
@gap-element-half: @gap-element-base / 2; // (20px) половинный

// Отступы между блоками
@gap-block-base: @indent-base * 3; // (48px) базовый
@gap-block-half: @gap-block-base / 2; // (24px) половинный

// Тень (может дополняться при необходимости)
@box-shadow-primary: .set-shadow(@color-base-primary)[]; // базовая

// Радиус (может дополняться при необходимости)
@box-radius-primary: @font-size-base / 2; // (8px) базовый

// Анимация
@animation-duration: 0.2s; // продолжительность
@animation-timing-function: ease-out; // формула кривой

// Контрольные точки
@breakpoint-sm: 576px; // для горизонтальной мобилки
@breakpoint-md: 768px; // для планшета
@breakpoint-lg: 992px; // для горизонтального планшета
@breakpoint-xl: 1200px; // для десктопа
