#base() {
  .h1() {
    font-family: @base-h1-font-family;
    font-size: @base-h1-font-size;
    line-height: @base-h1-line-height;
    font-weight: @base-h1-font-weight;
  }

  .h2() {
    font-family: @base-h2-font-family;
    font-size: @base-h2-font-size;
    line-height: @base-h2-line-height;
    font-weight: @base-h2-font-weight;
  }

  .h3() {
    font-family: @base-h3-font-family;
    font-size: @base-h3-font-size;
    line-height: @base-h3-line-height;
    font-weight: @base-h3-font-weight;
  }

  .link() {
    cursor: pointer;
    color: @base-link-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-property: color;

    &:hover {
      color: @base-link-color-hover;
    }

    .inverse &,
    &.inverse {
      color: @base-inverse-link-color;

      &:hover {
        color: @base-inverse-link-color-hover;
      }
    }
  }
}
