// Body
@base-body-color: @common-text-base-strong;
@base-body-background-color: @common-root-base-weak;

// H1
@base-h1-font-family: @common-font-family;
@base-h1-font-size: var(--base-h1-font-size, 2.5rem);
@base-h1-line-height: var(--base-h1-line-height, 3rem);
@base-h1-font-weight: bold;

// H2
@base-h2-font-family: @common-font-family;
@base-h2-font-size: var(--base-h2-font-size, 2rem);
@base-h2-line-height: var(--base-h2-line-height, 2.5rem);
@base-h2-font-weight: bold;

// H3
@base-h3-font-family: @common-font-family;
@base-h3-font-size: var(--base-h3-font-size, 1.5rem);
@base-h3-line-height: var(--base-h3-line-height, 2rem);
@base-h3-font-weight: bold;

// Ссылка
@base-link-color: var(--base-link-color, @common-text-accent-strong);
@base-link-color-hover: var(--base-link-color-hover, multiply(@common-text-accent-strong, #ccc));
