// Body
@base-body-color: @common-text-base-strong;
@base-body-background-color: @common-root-base-weak;

// H1
@base-h1-font-family: @common-font-family;
@base-h1-font-size: var(--base-h1-font-size, 2.5rem);
@base-h1-line-height: var(--base-h1-line-height, 3rem);
@base-h1-font-weight: bold;

// H2
@base-h2-font-family: @common-font-family;
@base-h2-font-size: var(--base-h2-font-size, 2rem);
@base-h2-line-height: var(--base-h2-line-height, 2.5rem);
@base-h2-font-weight: bold;

// H3
@base-h3-font-family: @common-font-family;
@base-h3-font-size: var(--base-h3-font-size, 1.5rem);
@base-h3-line-height: var(--base-h3-line-height, 2rem);
@base-h3-font-weight: bold;

// Ссылка
@base-link-color: var(--base-link-color, @common-text-accent-strong);
@base-link-color-hover: var(--base-link-color-hover, multiply(@common-text-accent-strong, #ccc));

// Кнопка
@base-btn-padding-horizontal: var(--base-btn-padding-horizontal, 28px);
@base-btn-padding-vertical: var(--base-btn-padding-vertical, 16px);

@base-btn-border-width: var(--base-btn-border-width, 0px);
@base-btn-border-radius: var(--base-btn-border-radius, 8px);

@base-btn-color: var(--base-btn-color, @common-text-base-weak);
@base-btn-background-color: var(--base-btn-background-color, @common-root-accent-strong);
@base-btn-border-color: var(--base-btn-border-color, transparent);

@base-btn-color-hover: var(--base-btn-color-hover, @common-text-base-weak);
@base-btn-background-color-hover: var(--base-btn-background-color-hover, multiply(@common-root-accent-strong, #ccc));
@base-btn-border-color-hover: var(--base-btn-border-color-hover, transparent);

@base-btn-outline-color-focus: var(--base-btn-outline-color-focus, fadeout(@common-root-accent-strong, 50%, relative));
