include ./../price/mixins

mixin product(data)
  .product&attributes(attributes)
    .product__accent
      .product__media
        img(
          src="https://st.bork.ru/photos_resized/common/500_500/111860/1_111860.png?1590760143"
          width="250"
          height="250"
          alt="")

    .product__content
      .product__meta
        .product__category Кухонные принадлежности
        .product__code SKU999993

      a.product__title(href="#")
        h3.product__name Держатель магнитный для ножей BORK HN800

      .product__cost
        .product__price.product__price--current
          +price({
            value: 35900,
            currency: "₽"
          })

        .product__price.product__price--old
          +price({
            isOld: true,
            value: 39900,
            currency: "₽"
          })
